<html style="background-image: url('assets/homepage.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
  <h1 align="center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">ITZY HERBZZ </h1>
 
<body>
    <nav>
        <div class="nav-link">
            
            <a routerLink="/login">Login</a>
            <a routerLink="/about">About us</a>
            <a routerLink="/home">Home</a>
            <a routerLink="/cart">My Cart</a>
            <a routerLink="/payment">Payment</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>
</html>
